<!DOCTYPE html>
<html>
<head>
<title>Interior Register Form Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Interior Register Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
</head>
<style>

select {
  font-family: Raleway', sans-serif;
  font-size: 32px;
  width: 100%;
  height: 40px;
}

.copyright{
    text-align: center;
    margin-top: 85px;
}

</style>

<body>
<div class="signupform">
    

	<div class="container">
		
		<div class="agile_info">
			
			<div class="w3_info">

				<h2>Create An Account</h2>
				<p>Vestibulum est nulla, fermentum eget euismod et, tincidunt at dui dolor sit.</p>

				<% if(this.messages) { %> 
					<p><%= messages %></p> 
						<% } %>

				<% if(this.messageinvalid) { %> 
					<p><%= messageinvalid %></p> 
						<% } %>

						<% if(this.update) { %> 
							<p><%= update %></p> 
								<% } %>

						<form action="auth" method="post">

						<div><label>Email</label></div>
						<div class="input-group">
							<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
							<input type="email" name="email" placeholder="Email" required=""> 
						</div>

						<div><label>Password</label></div>
						<div class="input-group">
							<span><i class="fa fa-lock" aria-hidden="true"></i></span>
							<input type="Password" placeholder="Password" name="password" required="">
						</div>
							        
							<button class="btn btn-danger btn-block" type="submit">Create Account</button >                
                    </form>
                    <p>Don't have an account?<a href="register">Sign Up Here</a></p>
			</div>

			<div class="w3l_form">
				<div class="left_grid_info">
					<h3>Welcome !</h3>
					<h4>Lorem ipsum dolor sit amet, nulla consectetur adipiscing elit Sed.</h4>
					<p> Nam eleifend velit eget dolor vestibulum ornare. Vestibulum est nulla, fermentum eget euismod et, tincidunt at dui. Nulla tellus nisl, semper id justo vel, rutrum finibus risus. Cras vel auctor odio.</p>
					<ul class="social_section_1info">
						<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" class="w3_pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" class="w3_vimeo"><i class="fa fa-vimeo"></i></a></li>
					</ul>
                </div>
                <p class="copyright">&copy; 2018 TrustED All Rights Reserved</p>
            </div>
            
            

			<div class="clear"></div>
			</div>
			
		</div>
		<div class="footer">

 <!--<p>&copy; Interior Register form 2018. All Rights Reserved | Design by <a href="" target="blank">BlockCerts</a></p>-->
 
 </div>
	</div>
	</body>
</html>