<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<header>
    <% include partials/header %>
</header>

<main>
    <div class="jumbotron">
        <!--<h2>Sing Up</h2>-->

        <div class="singup-formbody">

                <div class="singup-header">
                    <div class=col-md-12>
                        <div class="col-md-6">
                            <p style="margin-top: 6px;">Sign Up</p> 
                        </div>
                        <div class="col-md-6">
                            <p style="text-align: right;margin-top: 6px;"><a href="/login">Login</a></p> 
                        </div>
                    </div>
                    </div>

        <form method="post" action="register">
          <div class="form-group">
                <label for="email">Name:</label>
                <input type="text" name="username" class="form-control" id="text">
              </div>

            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" name="email" class="form-control" id="email">
            </div>

            <div class="form-group">
                <label for="email">Phone Number:</label>
                <input type="text" name="phone" class="form-control" id="phone">
              </div>

              <div class="form-group">
                <label for="email">Place:</label>
                <input type="text" name="place" class="form-control" id="place">
              </div>

            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" name="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Confirm Password:</label>
                <input type="password" name="cpassword" class="form-control" id="cpassword">
              </div>
            
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

          </div>
          
          
          <font color="blue">
            <% if(this.messages) { %>
            <p><%= messages %></p>
              <% } %>  
    </div>
    
</main>

<footer>
    <% include partials/footer %>
</footer>

</body>
</html>